body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(247, 255, 255);
}

header {
    background-image: url(images/reitdiep.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

h1 {
    color: #FFFFFF;
    font-size: 8vw;
    padding: 20px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

#facts {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex: 1;
    width: auto;
}

.right-column {
    flex: 2;
    width: auto;
    background-color: #f7e8c6;
}

.article1 {
    padding: 20px;
    margin-bottom: 20px;
    flex: 1; /* Makes it flexible */
}

.article2 {
    padding: 20px;
    margin-bottom: 20px;
    flex: 1; /* Makes it flexible */
}

.img-toren, .img-forum {
    padding: 20px;
    margin-bottom: 20px;
    width: 200px; /* Set a fixed width for the images */
    flex: 1;
    flex-shrink: 0; /* Prevents shrinking */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Aligns items at the start of the container */
}

@media screen and (max-width: 480px) {
    .article1, .article2 {
        flex: none;
        width: auto;
    }

    .img-toren, .img-forum {
        flex: none;
        width: auto;
        display: block;
        margin: 0 auto;
    }
}
